<h1>Login</h1>
 <span class="pull-right"><a class="btn btn-warning" href="#register"><i class="icon-signin"></i> Sign Up</a></span>
<form>
<fieldset>
  <legend>Credentials</legend>
  <div class="alert alert-error" id="error">
  </div>

  

  <label>
    Email: </label>
    <input type="text" name="email" placeholder="Email Address:"/>
 

  <br />

  <label>
    Password: </label>
    <input type="password" name="password"placeholder= "Password">
 

  <br />

  <button  class ="btn btn-info"type="submit"><i class="icon-check-sign"></i> Login now</button>
</fieldset>
</form>
<a  href="#forgotpassword">Forgot Password?</a>
