<div id="profile">
	  <div class="row">
	    <div class="span2">
	      <img src="/styles/3.jpg"  alt="" class="img-rounded">
	    </div>
	    <div class="span4">
	      <blockquote>
	        <p><%=name.first %>  <%= name.last %></p>
	        <small><cite title="Source Title">_tambayer's crib <i class="icon-map-marker"></i></cite></small>
	      </blockquote>
	    
	    </div>
		<div class="span6"> 
			<h2>Status Updates</h2>
			<div class="alert alert-info">
			<ul class="status_list" />
			</div>
		</div>
	</div>
</div>	
